# This is a basic workflow to help you get started with Actions

name: utterances-vote-init

on:
  # Trigger the workflow on push but only for the master branch
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup R
        uses: r-lib/actions/setup-r@master
      - name: Install required packages
        run: |
          pkgs <- "gh"
          install.packages(pkgs)
          saveRDS(installed.packages()[, c("Package", "Version"), drop = FALSE], "depends.Rds", version = 2)
        shell: Rscript {0}
      - name: Cache R packages
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('depends.Rds') }}
          restore-keys: ${{ runner.os }}-r-
      - name: Create new issue
        run: |
          owner <- "riccardoporreca"
          repo <- "test-utterances"
          committed_files <- gh::gh(
            "/repos/:owner/:repo/commits/:sha",
            sha = Sys.getenv("GITHUB_SHA"),
            owner = owner, repo = repo
          )$files
          str(committed_files, max.level = 2)
        shell: Rscript {0}
      - name: Initial voting comment
        if: contains(github.event.issue.labels.*.name, ':+1:')
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Vote for this contribution by giving it a :+1:!
            _Please avoid using comments or other reactions_
          reaction-type: '+1'
