# This is a basic workflow to help you get started with Actions

name: utterances-vote-init

on:
  # Trigger the workflow on push but only for the master branch
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup R
        uses: r-lib/actions/setup-r@master
      - name: Install system dependencies
        run: |
          sudo -s eval "apt-get update && apt-get install -y libcurl4-openssl-dev"
      - name: Query dependencies
        run: |
          install.packages("remotes")
          saveRDS(remotes::package_deps(c("gh", "yaml")), "depends.Rds", version = 2)
        shell: Rscript {0}
      - name: Cache R packages
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('depends.Rds') }}
          restore-keys: ${{ runner.os }}-r-
      - name: Install package dependencies
        run: |
          remotes::install_cran(readRDS("depends.Rds")$package)
          remotes::install_github("riccardoporreca/rmdgallery@develop")
        shell: Rscript {0}
      - name: Create utterances issues with voting comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          source("_tools/utterances-issues.R")
          create_utterances_issues(
            meta = rmdgallery::gallery_site_config("contest")$gallery$meta
            owner = "riccardoporreca"
            repo = "test-utterances",
            site = "https://riccardoporreca.github.io/test-utterances"
          )
        shell: Rscript {0}
